<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments :: page_head(${pageTitle})" />

<body>
    <div class="container-fluid">
        <!-- Navigation -->
        <div th:replace="navigation :: menu"></div>

        <div>
            <h2>Manage Categories | [[${pageTitle}]]</h2>
        </div>

        <div>
            <form th:action="@{/categories/save}" method="POST" style="max-width:500px; margin:0 auto"
                th:object="${category}" enctype="multipart/form-data" onsubmit="return checkUnique(this)">
                <input type="hidden" th:field="*{id}">
                <div class="border border-secondary rounder p-3">
                    <!-- Category Name -->
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Category Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="name" id="name" class="form-control" th:field="*{name}" required
                                minlength="3" maxlength="128">
                        </div>
                    </div>
                    <!-- Alias -->
                    <div class="form-group row">
                        <label for="alias" class="col-sm-4 col-form-label">Alias</label>
                        <div class="col-sm-8">
                            <input type="text" name="alias" id="alias" class="form-control" th:field="*{alias}" required
                                minlength="3" maxlength="64">
                        </div>
                    </div>
                    <!-- Parent Category -->
                    <div class="form-group row">
                        <label for="parent" class="col-sm-4 col-form-label">Parent Category</label>
                        <div class="col-sm-8">
                            <select name="" id="" class="form-control" th:field="*{parent}">
                                <option value="0">[No Parent]</option>
                                <th:block th:each="cat : ${listCategories}">
                                    <option th:value="${cat.id}">[[${cat.name}]]</option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <!-- Category Image -->
                    <div class="form-group row">
                        <label for="photos" class="col-sm-4 col-form-label">Image</label>
                        <div class="col-sm-8">
                            <input type="hidden" th:field="*{image}">
                            <input type="file" id="fileImage" required name="fileImage" accept="image/png, image/jpeg"
                                th:required="${category.photosImagePath == null}" class="mb-2">

                            <div class="mt-2">
                                <img class="img-fluid" id="thumbnail" th:if="${category.image != null}"
                                    th:src="@{${category.photosImagePath}}" height="100px" width="100px"
                                    alt="Image preview">
                            </div>
                        </div>
                    </div>
                    <!-- Enabled -->
                    <div class="form-group row">
                        <label for="enabled" class="col-sm-4 col-form-label">Enabled</label>
                        <div class="col-sm-8">
                            <input type="checkbox" th:field="*{enabled}" class="m-2">
                        </div>
                    </div>
                    <!-- Save and Cancel Button -->
                    <div class="text-center">
                        <input type="submit" value="Save" class="btn btn-primary">
                        <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
                    </div>
                </div>
            </form>
        </div>

        <!-- Modal dialog -->
        <div th:replace="modal_fragments :: modal_dialog"></div>

        <!-- Footer -->
        <div th:replace="fragments :: footer"></div>
        <!-- End of container-fluid -->
    </div>

    <script type="text/javascript">
        moduleUrl = "[[@{/categories}]]"

        function checkUnique(form) {
            url = "[[@{/categories/check-unique}]]";
            catId = $("#id").val();
            name = $("#name").val();
            alias = $("#alias").val();
            csrfValue = $("input[name='_csrf']").val();
            params = { id: catId, name: name, alias: alias, _csrf: csrfValue };
            $.post(url, params, function (response) {
                if (response == "OK") {
                    form.submit()
                } else if (response == "DuplicateName") {
                    showWarningModal("There is another category having the same name " + name);
                } else if (response == "DuplicateAlias") {
                    showWarningModal("There is another category having the same alias " + alias);
                } else {
                    showErrorModal("Unknown response from server");
                }
            }).fail(function () {
                showErrorModal("Could not connect to the server");
            });
            return false;
        }

    </script>
    <script type="text/javascript" th:src="@{/js/common_form.js}"></script>
</body>

</html>